ClientApplication/x64/
ServerApplication/x64/
ClientApplication/ClientApplication/x64/
ServerApplication/ServerApplication/x64/
ClientApplication/ClientApplication/zlib/
ClientApplication/.vs/
ServerApplication/.vs/
ServerApplication/ServerApplication/zlib/
ServerApplication/packages/
ServerApplication/ServerApplication/packages.config
ClientApplication/packages/
ClientApplication/ClientApplication/packages.config

*.sln

*.vcxproj

*.vcxproj.filters

*.vcxproj.user
