ClientApplication/x64/
ServerApplication/x64/
ClientApplication/ClientApplication/x64/
ServerApplication/ServerApplication/x64/
ClientApplication/ClientApplication/zlib/

*.sln

*.vsxproj

*.vsxproj.filters

*.vsxproj.user
