ClientApplication/x64/
ServerApplication/x64/
ClientApplication/ClientApplication/x64/
ServerApplication/ServerApplication/x64/
ClientApplication/ClientApplication/zlib/
ClientApplication/.vs/
ServerApplication/.vs/


*.sln

*.vcxproj

*.vcxproj.filters

*.vcxproj.user
